src/main/mule/gitdemoproject_v1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="d8e96148-43c6-435e-ac61-4dc7fe9f584a" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="gitdemoproject_v1Flow" doc:id="d29dcd8e-f360-4311-8ce8-41edceaa9f32" >
		<http:listener doc:name="Listener" doc:id="3fa3ec4f-fe3f-42f9-b4a0-f6dac3253eb9" config-ref="HTTP_Listener_config" path="/hello/{name}" allowedMethods="GET"/>
		<logger level="INFO" doc:name="Logger" doc:id="dbeedfa3-6917-49d5-8007-317e1766b125" />
		<ee:transform doc:name="Transform Message" doc:id="1d40629a-f1d3-47fc-98ce-add1ae45d007" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---

Message:payload.uriParams.name as String]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
